
<div class="list-movie" *ngIf="movie.length < 0">
  <p>Aucun Film Disponible</p>
</div>
<div class="list-movie" *ngIf="movie.length <= 0">
  <h2>Film Disponible {{movie.length}}</h2>
</div>

<div class="list-movie" *ngFor="let movies of movie" appSurvolActive>
  <ul>
    <li><img class="img-responsive" src="{{movies.picture}}"></li>
    <li>Note du public : {{movies.note | Date}}</li>
    <li>Sortie international le {{movies.releaseDate | date : MM.dd.y}}</li>
    <li>Sortie franaçise le {{movies.releaseDate | date : dd.MM.y}}</li>

    <input type="button" value="Show more" (click)="myEvent(movies.releaseDate + '\n' + movies.titre + '\n' + movies.teaser )">
  </ul>


</div>






